MonitorAndEnforcement/src/main/webapp/WEB-INF/wsdl/SyblAPIService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/" name="SyblAPIService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/" schemaLocation="SyblAPIService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="scalein">
    <part name="parameters" element="tns:scalein"/>
  </message>
  <message name="scaleinResponse">
    <part name="parameters" element="tns:scaleinResponse"/>
  </message>
  <message name="Test">
    <part name="parameters" element="tns:Test"/>
  </message>
  <message name="TestResponse">
    <part name="parameters" element="tns:TestResponse"/>
  </message>
  <message name="scaleout">
    <part name="parameters" element="tns:scaleout"/>
  </message>
  <message name="scaleoutResponse">
    <part name="parameters" element="tns:scaleoutResponse"/>
  </message>
  <message name="setControlledService">
    <part name="parameters" element="tns:setControlledService"/>
  </message>
  <message name="setControlledServiceResponse">
    <part name="parameters" element="tns:setControlledServiceResponse"/>
  </message>
  <message name="getCurrentCPUSize">
    <part name="parameters" element="tns:getCurrentCPUSize"/>
  </message>
  <message name="getCurrentCPUSizeResponse">
    <part name="parameters" element="tns:getCurrentCPUSizeResponse"/>
  </message>
  <message name="getCostPerHour">
    <part name="parameters" element="tns:getCostPerHour"/>
  </message>
  <message name="getCostPerHourResponse">
    <part name="parameters" element="tns:getCostPerHourResponse"/>
  </message>
  <message name="getCurrentRAMSize">
    <part name="parameters" element="tns:getCurrentRAMSize"/>
  </message>
  <message name="getCurrentRAMSizeResponse">
    <part name="parameters" element="tns:getCurrentRAMSizeResponse"/>
  </message>
  <message name="getCurrentMemUsage">
    <part name="parameters" element="tns:getCurrentMemUsage"/>
  </message>
  <message name="getCurrentMemUsageResponse">
    <part name="parameters" element="tns:getCurrentMemUsageResponse"/>
  </message>
  <message name="getTotalCostSoFar">
    <part name="parameters" element="tns:getTotalCostSoFar"/>
  </message>
  <message name="getTotalCostSoFarResponse">
    <part name="parameters" element="tns:getTotalCostSoFarResponse"/>
  </message>
  <message name="getControlledService">
    <part name="parameters" element="tns:getControlledService"/>
  </message>
  <message name="getControlledServiceResponse">
    <part name="parameters" element="tns:getControlledServiceResponse"/>
  </message>
  <message name="getCurrentReadLatency">
    <part name="parameters" element="tns:getCurrentReadLatency"/>
  </message>
  <message name="getCurrentReadLatencyResponse">
    <part name="parameters" element="tns:getCurrentReadLatencyResponse"/>
  </message>
  <message name="getCurrentReadCount">
    <part name="parameters" element="tns:getCurrentReadCount"/>
  </message>
  <message name="getCurrentReadCountResponse">
    <part name="parameters" element="tns:getCurrentReadCountResponse"/>
  </message>
  <message name="getCurrentWriteLatency">
    <part name="parameters" element="tns:getCurrentWriteLatency"/>
  </message>
  <message name="getCurrentWriteLatencyResponse">
    <part name="parameters" element="tns:getCurrentWriteLatencyResponse"/>
  </message>
  <message name="getCurrentWriteCount">
    <part name="parameters" element="tns:getCurrentWriteCount"/>
  </message>
  <message name="getCurrentWriteCountResponse">
    <part name="parameters" element="tns:getCurrentWriteCountResponse"/>
  </message>
  <message name="getCurrentCPUUsage">
    <part name="parameters" element="tns:getCurrentCPUUsage"/>
  </message>
  <message name="getCurrentCPUUsageResponse">
    <part name="parameters" element="tns:getCurrentCPUUsageResponse"/>
  </message>
  <message name="getCurrentHDDSize">
    <part name="parameters" element="tns:getCurrentHDDSize"/>
  </message>
  <message name="getCurrentHDDSizeResponse">
    <part name="parameters" element="tns:getCurrentHDDSizeResponse"/>
  </message>
  <message name="getCurrentLatency">
    <part name="parameters" element="tns:getCurrentLatency"/>
  </message>
  <message name="getCurrentLatencyResponse">
    <part name="parameters" element="tns:getCurrentLatencyResponse"/>
  </message>
  <message name="getCurrentOperationCount">
    <part name="parameters" element="tns:getCurrentOperationCount"/>
  </message>
  <message name="getCurrentOperationCountResponse">
    <part name="parameters" element="tns:getCurrentOperationCountResponse"/>
  </message>
  <message name="getCurrentHDDUsage">
    <part name="parameters" element="tns:getCurrentHDDUsage"/>
  </message>
  <message name="getCurrentHDDUsageResponse">
    <part name="parameters" element="tns:getCurrentHDDUsageResponse"/>
  </message>
  <message name="getLatestMonitoringData">
    <part name="parameters" element="tns:getLatestMonitoringData"/>
  </message>
  <message name="getLatestMonitoringDataResponse">
    <part name="parameters" element="tns:getLatestMonitoringDataResponse"/>
  </message>
  <message name="getMetricValue">
    <part name="parameters" element="tns:getMetricValue"/>
  </message>
  <message name="getMetricValueResponse">
    <part name="parameters" element="tns:getMetricValueResponse"/>
  </message>
  <message name="enforceAction">
    <part name="parameters" element="tns:enforceAction"/>
  </message>
  <message name="enforceActionResponse">
    <part name="parameters" element="tns:enforceActionResponse"/>
  </message>
  <message name="submitElasticityRequirements">
    <part name="parameters" element="tns:submitElasticityRequirements"/>
  </message>
  <message name="submitElasticityRequirementsResponse">
    <part name="parameters" element="tns:submitElasticityRequirementsResponse"/>
  </message>
  <portType name="SyblAPIService">
    <operation name="scalein">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/scaleinRequest" message="tns:scalein"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/scaleinResponse" message="tns:scaleinResponse"/>
    </operation>
    <operation name="Test">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/TestRequest" message="tns:Test"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/TestResponse" message="tns:TestResponse"/>
    </operation>
    <operation name="scaleout">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/scaleoutRequest" message="tns:scaleout"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/scaleoutResponse" message="tns:scaleoutResponse"/>
    </operation>
    <operation name="setControlledService">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/setControlledServiceRequest" message="tns:setControlledService"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/setControlledServiceResponse" message="tns:setControlledServiceResponse"/>
    </operation>
    <operation name="getCurrentCPUSize">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentCPUSizeRequest" message="tns:getCurrentCPUSize"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentCPUSizeResponse" message="tns:getCurrentCPUSizeResponse"/>
    </operation>
    <operation name="getCostPerHour">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCostPerHourRequest" message="tns:getCostPerHour"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCostPerHourResponse" message="tns:getCostPerHourResponse"/>
    </operation>
    <operation name="getCurrentRAMSize">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentRAMSizeRequest" message="tns:getCurrentRAMSize"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentRAMSizeResponse" message="tns:getCurrentRAMSizeResponse"/>
    </operation>
    <operation name="getCurrentMemUsage">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentMemUsageRequest" message="tns:getCurrentMemUsage"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentMemUsageResponse" message="tns:getCurrentMemUsageResponse"/>
    </operation>
    <operation name="getTotalCostSoFar">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getTotalCostSoFarRequest" message="tns:getTotalCostSoFar"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getTotalCostSoFarResponse" message="tns:getTotalCostSoFarResponse"/>
    </operation>
    <operation name="getControlledService">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getControlledServiceRequest" message="tns:getControlledService"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getControlledServiceResponse" message="tns:getControlledServiceResponse"/>
    </operation>
    <operation name="getCurrentReadLatency">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentReadLatencyRequest" message="tns:getCurrentReadLatency"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentReadLatencyResponse" message="tns:getCurrentReadLatencyResponse"/>
    </operation>
    <operation name="getCurrentReadCount">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentReadCountRequest" message="tns:getCurrentReadCount"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentReadCountResponse" message="tns:getCurrentReadCountResponse"/>
    </operation>
    <operation name="getCurrentWriteLatency">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentWriteLatencyRequest" message="tns:getCurrentWriteLatency"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentWriteLatencyResponse" message="tns:getCurrentWriteLatencyResponse"/>
    </operation>
    <operation name="getCurrentWriteCount">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentWriteCountRequest" message="tns:getCurrentWriteCount"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentWriteCountResponse" message="tns:getCurrentWriteCountResponse"/>
    </operation>
    <operation name="getCurrentCPUUsage">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentCPUUsageRequest" message="tns:getCurrentCPUUsage"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentCPUUsageResponse" message="tns:getCurrentCPUUsageResponse"/>
    </operation>
    <operation name="getCurrentHDDSize">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentHDDSizeRequest" message="tns:getCurrentHDDSize"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentHDDSizeResponse" message="tns:getCurrentHDDSizeResponse"/>
    </operation>
    <operation name="getCurrentLatency">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentLatencyRequest" message="tns:getCurrentLatency"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentLatencyResponse" message="tns:getCurrentLatencyResponse"/>
    </operation>
    <operation name="getCurrentOperationCount">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentOperationCountRequest" message="tns:getCurrentOperationCount"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentOperationCountResponse" message="tns:getCurrentOperationCountResponse"/>
    </operation>
    <operation name="getCurrentHDDUsage">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentHDDUsageRequest" message="tns:getCurrentHDDUsage"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getCurrentHDDUsageResponse" message="tns:getCurrentHDDUsageResponse"/>
    </operation>
    <operation name="getLatestMonitoringData">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getLatestMonitoringDataRequest" message="tns:getLatestMonitoringData"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getLatestMonitoringDataResponse" message="tns:getLatestMonitoringDataResponse"/>
    </operation>
    <operation name="getMetricValue">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getMetricValueRequest" message="tns:getMetricValue"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/getMetricValueResponse" message="tns:getMetricValueResponse"/>
    </operation>
    <operation name="enforceAction">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/enforceActionRequest" message="tns:enforceAction"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/enforceActionResponse" message="tns:enforceActionResponse"/>
    </operation>
    <operation name="submitElasticityRequirements">
      <input wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/submitElasticityRequirementsRequest" message="tns:submitElasticityRequirements"/>
      <output wsam:Action="http://runtimeAPI.monitorandenforcement.sybl.dsg.tuwien.ac.at/SyblAPIService/submitElasticityRequirementsResponse" message="tns:submitElasticityRequirementsResponse"/>
    </operation>
  </portType>
  <binding name="SyblAPIServicePortBinding" type="tns:SyblAPIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="scalein">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="scaleout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setControlledService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentCPUSize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCostPerHour">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentRAMSize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentMemUsage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTotalCostSoFar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getControlledService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentReadLatency">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentReadCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentWriteLatency">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentWriteCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentCPUUsage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentHDDSize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentLatency">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentOperationCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCurrentHDDUsage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLatestMonitoringData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMetricValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="enforceAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="submitElasticityRequirements">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SyblAPIService">
    <port name="SyblAPIServicePort" binding="tns:SyblAPIServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

